django-chartjs
asgiref==3.7.2
autopep8==2.0.4
contourpy==1.0.6
cycler==0.11.0
defusedxml==0.7.1
diff-match-patch==20230430
dj-database-url==2.1.0
Django
django-import-export
django-import-export
et-xmlfile
fonttools
gunicorn==21.2.0
kiwisolver
MarkupPy
matplotlib
numpy
odfpy
olefile
openpyxl
packaging
pandas
Pillow
pycodestyle
pyparsing
python-dateutil
python-decouple
pytz
PyYAML
reportlab
schedule
six
sqlparse
tablib
toml
typing_extensions
tzdata
Unipath
whitenoise
xlrd
xlwt
